body {
	background-color: rgb(47, 99, 144);
	font-family: sans-serif;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#scoreboard {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

#score-wrapper {
	display: flex;
	font-weight: bold;
	color: black;
}

#score {
	margin-left: 10px;
}

#canvas {
	display: block;
	border: 2px solid black;
}

#character {
	/* height: 50px; */
	display: none;
}

#obstacle {
	display: none;
}

#background {
	/* background-size: 820px; */
	display: none;
}
